pkgbase = python-ironicclient
	pkgdesc = OpenStack Bare Metal Provisioning API Client Library
	pkgver = 5.0.1
	pkgrel = 1
	url = https://docs.openstack.org/python-ironicclient/latest/
	arch = any
	license = Apache
	checkdepends = python-coverage
	checkdepends = python-fixtures
	checkdepends = python-requests-mock
	checkdepends = python-oslotest
	checkdepends = python-testtools
	checkdepends = openstack-tempest
	checkdepends = python-stestr
	checkdepends = python-ddt
	checkdepends = python-openstackclient
	makedepends = python
	makedepends = python-setuptools
	depends = python
	depends = python-six
	depends = python-pbr
	depends = python-yaml
	depends = python-requests
	depends = python-openstackclient
	depends = python-prettytable
	depends = python-oslo-utils
	depends = python-keystoneauth1
	depends = python-jsonschema
	depends = python-dogpile.cache
	depends = python-appdirs
	source = https://pypi.io/packages/source/p/python-ironicclient/python-ironicclient-5.0.1.tar.gz
	md5sums = 5121fdd0c23bf39f5f4563268cb7c5ed
	sha256sums = ed16b06c9e4ee4a0abb83e3df5f3a4b85728b81ce9ddfeda1149c4dfbc09aa63
	sha512sums = 394765b7b50ad7bec5e7517f0114118ba705c06f17bf562d18891011bfc6ad85938813817800d12d7c4f0f0336cfb611e37ba52e1920f48162a59559d5ee09d1

pkgname = python-ironicclient
